body{
    text-align: center;
    align-items: center;
    background-color: lightpink;
  }
  
  
  
  
  #btn{
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 22px;
    position: relative;
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
  }
  
  #stuff{
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 22px;
    position: relative;
    margin: 10px;
    padding: 10px;
  }
  
  h1{
    font-size: 40px;
  }
  
  .box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:100px;
    align-items: center;
    
  }
  
  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding:0px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.5);
    width: 33%;
    height:350px;
    border: 7px solid lightblue;
    background-color: white;
  }
  
  .images{
    height: 100px;
    align-items: center;
  }
  
  .collegeName{
    font-size:20px;
    padding:40px;
  }
  
  .label{
    font-size: 30px;;
  }